body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://images.rawpixel.com/image_300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdjExNDctYmctMDUta3pud3V6dnYuanBn.jpg");
}

h1{
    color:  #eb1e1e;
    font-family: Geneva, Calibri,  Tahoma, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 28px;
    margin: 2px;
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-top: 5px;
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    color: #b60d0d;
    font-size: 18px;
    font-family:  Geneva, Calibri,  Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;

    margin: 0;
    padding: 0;
}

li:first-letter{
    text-transform: capitalize;
}


.weather-app{
     max-width: 600px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid  #ef5a5a;
    border-radius: 10px;
    background: #f8e4a4; 
}
.degree{
    font-size: 50px;
    font-weight: 600;
    font-family: Calibri;
}
  .units{
      position: relative;
      top: -24px
  }
.weather-forecast{
    font-family:  Geneva, Calibri,  Tahoma, sans-serif;
    margin-top: 20px;
    text-align: center;
    color:#051cee; 
}
.weather-forecast-date{
    font-size: 16px;
    color:#051cee; 

   
}
.weather-forecast-temperatures {
font-size: 13px;
}

.weather-forecast-temperature-min{
opacity: 0.6;
}

